.contact {
    color: white !important;

    a {
        text-decoration: none;
        color: white !important;
    }

    a:hover {
        color: #eee!important;
    }

    .divider {
        margin-bottom: 1.5rem;
    }
}

// #039be5

