.footer {
    background-color: #e57373;
    color: white;
    padding: 1.5rem !important;
    margin-top: -20px !important;

    a {
        color: white;
    }

    a:hover {
		color: #ccc !important;
	}
}

@media (min-width: 993px) {
    .footer {
        text-align: center !important;
    }
}