.footer {
    background-color: #e57373;
    color: white;
    padding: 2rem !important;
    margin-top: -20px !important;

    a {
        color: white;
    }
}

@media (min-width: 993px) {
    .footer {
        text-align: center !important;
    }
}