.sidebar {
    background-color: teal;
    color: white;
    padding: 2.5rem !important;

    .circle {
        width: 97px;
        height: 97px !important;
        border: 2px solid #EFF3F5;
        border-radius: 83px;
    }
}

